{% form 'contact' %}
  {{ form.errors | default_errors }}
  <div class="field">
    <input type="text" name="contact[name]" id="ContactFormName" placeholder="Name">
  </div>
  <div class="field">
    <input type="email" name="contact[email]" id="ContactFormEmail" placeholder="Email" required>
  </div>
  <div class="field">
    <textarea name="contact[body]" id="ContactFormMessage" placeholder="Message"></textarea>
  </div>
  <input type="submit" value="Submit">
{% endform %}